.educationFormContainer .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.educationFormContainer .addCertificateBtn {
    grid-column: span 2;
}

.educationFormContainer .certificationsContainer {
    grid-column: span 2;
}

.educationFormContainer .certifications {
    table-layout: fixed;
    width: 100%;
}

.educationFormContainer .certifications th,
.educationFormContainer .certifications td {
    border: 1px solid rgba(128, 128, 128, 0.457);
    text-align: center;
    padding: 4px;
    text-overflow: ellipsis;
}

.educationFormContainer .certifications tr > th:last-child,
.educationFormContainer .certifications tr > td:last-child {
    width: 38px;
}

.educationFormContainer .certifications tr > th:last-child {
    visibility: hidden;
}
