.educationFormContainer .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.educationFormContainer .graduationDateWrapper,
.educationFormContainer .fieldOfStudyWrapper {
    grid-column: span 2;
}
