.headingFormContainer .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 32px;
}

.headingFormContainer .inputWrapper {
    grid-column: span 4;
    min-width: 0;
}

.headingFormContainer .stateWrapper {
    grid-column: span 2;
}

.headingFormContainer .zipWrapper {
    grid-column: span 2;
}
