.skillsContainer .grid {
    display: grid;
    gap: 16px;
}

.skillsContainer #SkillDescription {
    resize: none;
}

.skillsContainer .skill {
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin-top: 16px;
    border-radius: 4px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.skillsContainer .skillInfo {
    margin-left: 8px;
}
