@font-face {
    font-family: "RobotoLight";
    src: url("../assets/fonts/Roboto/static/Roboto-Light.ttf");
}

.switch {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "RobotoLight";
}

.item {
    cursor: pointer;
    text-align: left;
    font-size: 32px;
    padding: 8px;
    padding-left: 16px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.item:hover {
    background-color: rgba(173, 216, 230, 0.075);
}

.item.selected {
    background-color: rgba(173, 216, 230, 0.123);
}
