.workXpFormContainer .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.workXpFormContainer .inputWrapper {
    grid-column: span 1;
}

.workXpFormContainer .workResponsibilitiesContainer,
.workXpFormContainer .jobTitleContainer,
.workXpFormContainer .addExperienceBtn {
    grid-column: span 2;
}

.workXpFormContainer #WorkResponsibilities {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    margin-top: 4px;
    overflow-y: scroll;
}

.workXpFormContainer .experiencesListContainer {
    grid-column: span 2;
}

.workXpFormContainer .experienceContainer {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 16px;
    margin-top: 16px;
    border-radius: 4px;
    padding-left: 8px;
}

.workXpFormContainer .experience {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.workXpFormContainer .experienceInfoContainer {
    word-wrap: break-word;
}

.workXpFormContainer #ExperiencesData {
    display: none;
}

.workXpFormContainer .xpData {
    display: none;
}
