* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("./assets/fonts/Roboto/static/Roboto-Light.ttf");
}

@font-face {
    font-family: "Schoolbell";
    src: url("./assets/fonts/Schoolbell/Schoolbell-Regular.ttf");
}

* {
    overflow-x: hidden;
    overflow-y: hidden;
}

.appContainer {
    height: 100vh;
    display: flex;
    width: 100vw;
    cursor: default;
}

.sectionContainer {
    background-color: #202020;
    min-width: 320px;
}

.sectionContainer header {
    padding: 32px;
    padding-left: 16px;
}

.sectionContainer .title {
    font-size: 32px;
}

.panelContainer {
    display: flex;
    width: 100%;
}

.panel {
    margin: auto;
}

.resumeForm {
    display: flex;
    margin: auto;
    width: 80%;
}
