* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("./assets/fonts/Roboto/static/Roboto-Light.ttf");
}

@font-face {
    font-family: "Schoolbell";
    src: url("./assets/fonts/Schoolbell/Schoolbell-Regular.ttf");
}

.appContainer {
    height: 100vh;
    display: flex;
    cursor: default;
}

.sectionContainer {
    background-color: #202020;
}

.sectionContainer header {
    padding: 32px;
}
